node_modules
.env
.env.local

# Build outputs
dist
!public/dist
!public/dist/tesserarx-polkadot.umd.cjs
public/dist/*
!public/dist/tesserarx-polkadot.umd.cjs
build

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
